/* Inter */
@font-face {
  font-family: 'Inter';
  src: url("@/assets/fonts/Inter/static/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: 'Inter';
  src: url("@/assets/fonts/Inter/static/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter/static/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 100 900;
}


/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url("@/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 100;
}