.products-page {
  padding: 40px 130px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }

  &__load-more {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
}
.sorting-container {
  display: flex;
  align-items: center;
  gap: 10px;
  
  .sort-dropdown {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    &:focus {
      border-color: #db4444;
    }
  }
}