$primary-color: #db4444;
$text-gray: #888;
$black: #000;
$border-color: #e0e0e0;
$bg-light: #f5f5f5;
$font-main: 'Poppins',SemiBold;
$white:#ffffff;
$text-gray: #ccc;
$border-color: #ccc;
$borderHeader-color: #ddd;
